* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body {
    width: 65%;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #6357ad;
    color: white;
}

h1,
h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 3%;
}

button {
    padding: 5px 20px;
    background-color: transparent;
    margin: 1% auto;
    transition: .3s;
    font-size: 2rem;
    cursor: pointer;
}

button.choice {
    border: none;
}

button.start {
    border: 3px solid black;
    text-transform: uppercase;
    font-weight: bold;
}

button.start:hover {
    background-color: rgb(20, 20, 20);
    color: white
}

.choices {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}

.choices div {
    flex-basis: 45%;
}

.choices p {
    font-size: 1.3rem;
}

div.your-hand,
div.ai-hand {
    font-size: 5rem;
}

span {
    font-weight: bold;
}

.stats h3 {
    margin-bottom: 2%
}

.short-text {
    display: none;
}

@media(max-width: 700px) {
    body {
        width: 100%;
    }

    .short-text {
        display: block;
    }

    .long-text {
        display: none;
    }
}